.container {
  width: 90%;
  margin: auto;
  background: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.search-input {
  padding: 8px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-button {
  background: #ffcc00;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 5px;
}

.custom-table th,
.custom-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: small;
  color: #504e4e;
}

.custom-table th {
  background: #eeeeee;
  font-size: small;
  color: #464444;
}

.logo-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.options-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.resultados {
  font-size: small;
  color: #464444;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

select {
  padding: 5px;
  border-radius: 5px;
}

.messageInfo {
  color: #ce3310;
  font-size: small;
}