.dropdown {
    position: relative;
    display: inline-block;
    outline: none; /* Elimina el contorno predeterminado al enfocar */
  }
  
  .dropdown:focus {
    border: 1px solid #007bff; /* Estilo cuando el dropdown está enfocado */
  }
  
  button {
    padding: 10px;
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
  }
  
  ul {
    position: absolute;
    top: 100%;
    left: 0;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 1000;
  }
  
  li {
    padding: 10px;
    cursor: pointer;
  }
  
  li:hover {
    background-color: #f1f1f1;
  }